@use "theme" as *;
@use "components/card" as *;

:root {
  /* dimensions */
  --header-height: 0;
  --mobile-navbar-height: 76px;
  /* letter-spacing */
  --tracking-tightest: -0.0005em;
}

@include screen(xl) {
  :root {
    --header-height: 48px;
    --mobile-navbar-height: 0;
  }
}

html,
body {
  font-family: 'Inter', sans-serif;
  color: var(--color-gray-900);
  background-color: #F9FAFB;
  min-height: -webkit-fill-available;
  height: 100%;
  font-size: 16px;
  overflow: hidden;
  min-width: 375px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.App-main {
  padding-top: var(--header-height);
  padding-bottom: var(--mobile-navbar-height);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: 100%;

  @include screen(md) {
    overflow-y: hidden;
  }
}

.App-mainContent {
  position: relative;
  margin-inline: auto;
  display: flex;
  width: 100%;
  flex: 1;
  max-width: 1400px;
  padding-block: 16px;

  @include screen(md) {
    /* Avoid flex overflow */
    min-height: 0;
  }

  @include screen(xl) {
    padding-inline: 16px;
    padding-block: 32px;
  }
}

.Teleport-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 0;
  padding: 0;
}

.Ribbon {
  height: 16px;
  position: absolute;
  left: 8px;
  width: 0;
  border-left-width: 2px;
  border-left-style: solid;
  top: calc(50% - 8px);
  border-radius: 2px;
}

.Input-adornment {
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-shadow {
  box-shadow:
    0 -2px 16px rgb(0 0 0 / 4%),
    0 4px 16px rgb(0 0 0 / 8%);
}